# 🕵️ Verification Report

**Date:** 2025-12-01T08:13:36.791Z  
**Status:** ❌ Failed

## Summary
| Metric | Value |
| :--- | :--- |
| **Total Unique Domains** | 1,413,648 |
| **Passed** | 1,391,704 |
| **Failed** | 21,944 |
| **Time** | 2.549s |

## ⚠️ Failures
Full debug log available at: `../dist/.cache/verification_failures.tsv`

### Top 20 Failures
| Raw Domain | Normalized | Sources |
| :--- | :--- | :--- |
| `*.00609c257b.com` | `00609c257b.com` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/tif.txt`<br>`https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt` |
| `*.0213499675.com` | `0213499675.com` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt` |
| `*.02228640b9.com` | `02228640b9.com` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/tif.txt`<br>`https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt` |
| `*.054ii.com` | `054ii.com` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt` |
| `*.058d79990c.com` | `058d79990c.com` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/tif.txt`<br>`https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt` |
| `*.08675bd78b.com` | `08675bd78b.com` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/tif.txt`<br>`https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt` |
| `*.0880559526.com` | `0880559526.com` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt` |
| `*.0af2a962b0102942d9a7df351b20be55.com` | `0af2a962b0102942d9a7df351b20be55.com` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt` |
| `*.0cf.io` | `0cf.io` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt` |
| `*.0e024d23f9.com` | `0e024d23f9.com` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/tif.txt`<br>`https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt` |
| `*.0f857e584a.com` | `0f857e584a.com` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/tif.txt`<br>`https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt` |
| `*.0fees.net` | `0fees.net` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt` |
| `*.0i0i0i0.com` | `0i0i0i0.com` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt` |
| `*.1-1ads.com` | `1-1ads.com` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt` |
| `*.1-remont.com` | `1-remont.com` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt` |
| `*.10022020newfolder1002002131-service1002.space` | `10022020newfolder1002002131-service1002.space` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/tif.txt` |
| `*.10022020test41-service100201pro2510022020.ru` | `10022020test41-service100201pro2510022020.ru` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/tif.txt` |
| `*.10022020test481-service1002012510022020.ru` | `10022020test481-service1002012510022020.ru` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/tif.txt` |
| `*.10022020tostest371-service1002012510022020.ru` | `10022020tostest371-service1002012510022020.ru` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/tif.txt` |
| `*.10022020uest71-service100201dom2510022020.ru` | `10022020uest71-service100201dom2510022020.ru` | `https://big.oisd.nl`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/pro.plus.txt`<br>`https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/tif.txt` |